{% extends "layouts/main.html" %}

{% set pageName = "Declaration" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/application/check-answers"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if declarationError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Confirm the declaration to submit your application", href: "#declarationAgreed" }
        ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Declaration</h1>

    <p class="govuk-body">
      By submitting this CPO application you confirm that, to the best of your knowledge, the details you have given are correct and complete.
    </p>

    <form class="form" action="/application/submit" method="post" novalidate>

      {% set declValues = [] %}
      {% if data.declarationAgreed == "yes" %}
        {% set declValues = ["yes"] %}
      {% endif %}

      {{ govukCheckboxes({
        name: "declarationAgreed",
        fieldset: {
          legend: {
            text: "Confirm before you submit",
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: { text: "Confirm the declaration to submit your application" } if declarationError,
        values: declValues,
        items: [
          {
            value: "yes",
            text: "I confirm I've read and understood the information I've provided, and that it's accurate to the best of my knowledge."
          }
        ]
      }) }}

      {{ govukButton({ text: "Accept and submit application" }) }}

    </form>

  </div>
</div>
{% endblock %}
