{% extends "layouts/main.html" %}

{% set pageName = "Application status" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set subRef = data.submissionReference or "CPO-REF" %}
    {{ govukPanel({
      titleText: "Application submitted",
      html: "Your application number is<br><strong>" + subRef + "</strong>"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      You will receive an email to confirm your application has been submitted.
    </p>
    <p class="govuk-body">
      The confirming authority will review your application.
    </p>
    <p class="govuk-body">
      If valid, the order will proceed to the notice and objection stage.
    </p>
    <p class="govuk-body">
      You can track the progress of this case in your applications dashboard.
    </p>
    <p class="govuk-body">
      You cannot make changes to your application after submission without contacting the confirming authority.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="/case">View dashboard</a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="/application/task-list">Return to task list</a>
    </p>

  </div>
</div>
{% endblock %}
