{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      CPO prototype journey
    </h2>
    <p class="govuk-body">
      <a class="govuk-link" href="/case">Open case dashboard</a> to run the CPO task list MVP flow (session-based prototype).
    </p>
  </div>
</div>

{% endblock %}
